export(annotation)
export(coreDetect)
export(createAnnotation)
export(extract_bc_from_qname_vector)
export(extract_qname_annotation)
export(extract_read_isoforms_from_bam)
export(get_genome_seq)
export(gtf2bed)
export(init_project)
export(load_genome)
export(prepare_input_bam)
export(readBam)
export(run_longcelllite)
export(umi_count_parallel)
export(UMI_count_to_isoform)
importFrom(dplyr,across)
importFrom(dplyr,all_of)
importFrom(dplyr,arrange)
importFrom(dplyr,desc)
importFrom(dplyr,group_by)
importFrom(dplyr,mutate)
importFrom(dplyr,n)
importFrom(dplyr,summarise)
importFrom(magrittr,"%>%")
